# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr

# Environment
.env
.env.*
!.env.example

# Local config
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?